header {
    display:flex;
    align-content:center;
    justify-content : space-between;
    position :fixed;
    width: 100%;
    top:0;
    left:0;
    margin-bottom:100px;
    
}


nav {
    display:flex;
    justify-content:space-between;
    margin-right:50px;
    margin-top:20px;
    gap:20px;

}
    
    
